/* ----- ABOUT PAGE ----- */

/* ALL THE IMAGES */
.about-founders-images {
  display: flex;
  justify-content: center;
}

/* individual images */
.about-founders-group {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 2rem;
}

.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-founders-image {
  width: 250px;
  margin-bottom: 0.5rem;
}

.about-name {
  color: rgb(242, 166, 24);
  font-family: "Abril Fatface", serif;
  font-size: 4rem;
  margin: 0;
}
.about-text {
  color: rgb(221, 219, 241);
  text-align: center;
  font-size: 1.5rem;

  font-family: "PT serif", serif;
  font-weight: 400;
  font-style: normal;
}
/* RESPONSIVE LAYOUT */
/* tablet (max-width: 768px) */
@media (max-width: 768px) {
  .about-founders-images {
    display: flex;
    justify-content: center;
  }

  /* individual images */
  .about-founders-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 0.2rem;
  }

  .founder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-founders-image {
    width: 200px;
    margin-bottom: 0.2rem;
  }

  .about-name {
    text-align: center;
    color: rgb(242, 166, 24);
    font-family: "Abril Fatface", serif;
    font-size: 1.7rem;
    margin: 0;
  }
  .about-text {
    text-align: center;
    font-size: 1rem;

    font-family: "PT serif", serif;
    font-weight: 400;
    font-style: normal;
  }
}

/* Mobile (max-width: 480px) */
@media (max-width: 385px) {
  .about-founders-images {
    display: grid;
    justify-content: center;
  }

  /* individual images */
  .about-founders-group {
    display: grid;
    justify-content: center;
    gap: 50px;
    margin-top: 0.2rem;
  }

  .founder {
    display: grid;
    flex-direction: column;
    align-items: center;
  }

  .about-founders-image {
    width: 250px;
    margin-bottom: 0.2rem;
  }

  .about-name {
    text-align: center;
    color: rgb(242, 166, 24);
    font-family: "Abril Fatface", serif;
    font-size: 2rem;
    margin: 0;
  }
  .about-text {
    text-align: center;
    font-size: 1rem;

    font-family: "PT serif", serif;
    font-weight: 400;
    font-style: normal;
  }
}
