main {
  align-content: center;
}

.login-form {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(221, 219, 241);
}

#login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: 70px;
  padding: 0;
  border: 0;
}

#logoutButton {
  background-color: inherit;
  height: 70px;
  padding: 0;
  border: 0;
}
.login-img {
  height: 70px;
  cursor: pointer;
}
.no-account {
  text-align: center;
  font-family: "PT serif", serif;
  color: rgb(221, 219, 241);
}
.hereButton {
  color: rgb(242, 166, 24);
}
.loginSlots {
  width: 300px;
  height: 30px;
  outline: none;
  border-color: rgb(221, 219, 241);
  background-color: rgb(2, 1, 34);
  color: rgb(221, 219, 241);
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

/* RESPONSIVE LAYOUT */
@media (max-width: 768px) {
  .login-form {
    font-size: 20px;
  }

  .loginSlots {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
  }

  .login-img {
    height: 50px;
  }
}

@media (max-width: 480px) {
  .login-form {
    font-size: 15px;
  }

  .loginSlots {
    width: 150px;
    height: 18px;
    border-radius: 10px;
    font-size: 12px;
  }

  .login-img {
    height: 40px;
  }
}
