/* ----- HOMEPAGE ----- */

body {
  background-color: rgb(2, 1, 34);
}

/* BOTH THE HEADINGS */
.homepage-heading {
  color: rgb(221, 219, 241);
  text-align: center;

  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* first heading */
h1.homepage-heading {
  font-size: 2.5rem;
}

/* second heading */
h2.homepage-heading {
  font-size: 1.5rem;
}

/* CATEGORY HEADINGS */
.homepage-category-headings {
  color: rgb(221, 219, 241);
  padding-left: 2%;

  font-family: "Abril Fatface", serif;
  font-size: 1.5rem;
}

/* ALL THE MOVIE IMAGES */
.homepage-movie-images {
  /* width: 20%; */
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 3%;
}

/* individual movie images */
.homepage-movie-image {
  width: 270px;
  height: auto;
  margin: 1%;
}

/* RESPONSIVE LAYOUT */
