/* ----- SPECIFIC CATEGORY PAGE ----- */

/* ALL THE MOVIE IMAGES */
.specific-category-movie-images {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  justify-items: center;
}

/* individual movie images */
.specific-category-movie-image {
  padding: 10px;
}
