/* ----- SPECIFIC CATEGORY PAGE ----- */

/* ALL THE MOVIE IMAGES */
.specific-category-movie-images {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  justify-items: center;
}

/* individual movie images */
.specific-category-movie-image {
  padding: 10px;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 768px) {
  .specific-category-movie-images {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on tablet */
  }
}
@media (max-width: 480px) {
  .specific-category-movie-images {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
  }
}
