/* ENTIRE HEADER SECTION */
header {
    background-color: rgb(242,166,24);
    display: flex;
    align-items: center;
}

 /* THE LOGOTYPE */
 #header-logoIcon {
    width: 150px;
    height: auto;
    padding-left: 20%;
  }

  /* BOTH THE TITLE AND THE NAVIGATION MENU */
  .header-text {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* THE TITLE */
#header-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: rgb(2,1,34);
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  /* THE NAVIGATION MENU */
  .header-ul {
    display: flex;
    list-style: none;
    gap: 2rem;


    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

  }
  
  /* the links inside the navigation buttons */
  a {
    color: rgb(2,1,34);
  }

  /* RESPONSIVE LAYOUT */