/* Footer */
footer {
  background-color: rgb(242, 166, 24);
}
.footer-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.footer-site-name {
  font-family: "Abril Fatface", serif;
  font-size: 1.5rem;
  text-align: center;
}

.Footer-running-text {
  list-style: none;
  font-family: "PT serif", serif;
  padding-left: 0;
  padding-right: 5px;
}
.Footer-links-text {
  font-family: "PT serif", serif;
}
.footer-2nd-header {
  font-family: "Special Elite", serif;
  font-size: 1.3rem;
}
.footer-1st-column {
  text-align: center;
  font-family: "PT serif", serif;
  padding-right: 10px;
}
.footer-logo {
  align-content: right;
}
#logo-footer {
  width: 130px;
  padding-top: 10px;
  align-items: right;
  /* padding-left: 140px; */
}
